@font-face {
	font-family: 'Audi-TypeScreenBold';
	src: url('../fonts/AudiType/AudiTypeScreen-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Audi-TypeScreenLight';
	src: url('../fonts/AudiType/AudiTypeScreen-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Audi-TypeScreenNormal';
	src: url('../fonts/AudiType/AudiTypeScreen-Normal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}