// Colors
$main-bg-color: #212226;
$base-text-color: #ffffff;


// Sizes
$base-font-size: 16px;

// Fonts
$main-font: 'Audi-TypeScreenLight', Arial, sans-serif;
$medium-font: 'Audi-TypeScreenNormal', Arial, sans-serif;
$bold-font: 'Audi-TypeScreenBold', Arial, sans-serif;