nav.main-nav.header-top__main-nav
	ul.main-nav__list
		li.main-nav__item
			a(href="#").main-nav-link Купить
		li.main-nav__item
			a(href="#").main-nav-link О нас
		li.main-nav__item
			a(href="#").main-nav-link Оплата и доставка
		li.main-nav__item
			a(href="#").main-nav-link Контакты
