footer
	.copyright
		span.copyright &copy; Official Audi Acessories
	.call-center
		a(href="javascript:jivo_api.open();" onclick="jivo_api.open();") Открыть чат
			+icon('call-center', 'call-center-prev__icon')
	.footer-social__link
		a(href="https://telegram.org")
			+icon('telegram', 'telegram-prev__icon')
		a(href="https://www.facebook.com")
			+icon('facebook', 'facebook-prev__icon')
		a(href="https://www.instagram.com")
			+icon('instagram', 'instagram-prev__icon')
		a(href="https://www.youtube.com")
			+icon('youtube', 'youtube-prev__icon')